body{
    background-color: beige;
}

#footing{
    color: rgb(255, 240, 249);
    background-color: black;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}